@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in the Google Auth test project.</h1>
    <br />
    <h2>To test the functions of backend with news, click on the button below.</h2>
    <br />
    <br />
    <a href="@Url.Action("Index", "ManageNews")" class="btn btn-primary">Go to Manage News</a>
</div>
